@import "@/assets/variable.scss";
@import "@/assets/mixins.scss";

.main {
  position: relative;
  width: 60%;
  height: 80%;
  min-height: 400px;
  min-width: 600px;
  margin-right: 14%;
  @include border(blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content{
    width: 100%;
    height: 85%;
    flex-grow: 5;
    display: flex;
    justify-content: space-between;
  }
  &__scenes {
    border: 1px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
