.tooltip {
  position: absolute;
  min-width: 80px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 5px;
  background-color: white;
  z-index: 100;
  // transition: none;

  &__coords {
    display: flex;
    justify-content: space-around;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
  }
  &__town {
    margin-bottom: 5px;
    font-weight: normal;
  }

  &__player {
    margin-bottom: 5px;
  }
  &__army {
    display: flex;
    flex-direction: column;
    &--header {
      @include center;
    }
    &--wrap {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      &:last-child {
        margin-right: 0px;
      }
      &--icon {
        width: 40px;
        height: 40px;
        border: 1px solid;
        margin-bottom: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      &--count {
        @include center;
        font-weight: bold;
      }
    }
  }
}
