$widthScene: 500px;
.scene {
  flex-grow: 5;
  // border: 1px solid black;
  // min-height: widthScene - 100px;
  // max-height: widthScene - 150px;
  // min-width: widthScene;
  // max-width: widthScene + 300px;
  position: relative;

  &__buttons {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    &__item {
      cursor: pointer;
      padding: 3px;
      border: none;
      &--active {
        font-weight: 700;
        background-color: grey;
        outline: none;
      }
    }
  }
}
