.sidebar {
  width: 25vw;
  border-left: 1px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__towns {
    height: 70%;
    overflow-y: auto;
    border-bottom: 1px solid;
  }

  &__chat {
    height: 30%;
    overflow: hidden;
  }
}
