@import "./variable.scss";

@mixin border($color: black, $width: 1px) {
  border: $width solid $color;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin short_answer($bg_color: green, $color: yellow, $size: 30px) {
  @include center;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $bg_color;
  color: $color;
  padding: 7px;
  font-size: $main-font-size - 2;
  cursor: pointer;
  line-height: 12px;
}
