@import 'assets/variable.scss';
@import 'assets/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

#app {
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  box-sizing: border-box;
  overflow: hidden;
  // background-image: url('../frontEnd/img/main/background/fon.jpg');
  background-image: url('../frontEnd/img/main/background/panelbg.jpg');
  // background-image: url('../frontEnd/img/main/background/mainmenubg.jpg')1
}

::-webkit-scrollbar {
  width: 5px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}
::-webkit-scrollbar-thumb {
  background-color: #656363;
  border-radius: 6px;
}
