@import '@/assets/variable.scss';
@import '@/assets/mixins.scss';

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#app {
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  // flex-direction: column;
  // background-image: url('../frontEnd/img/main/background/fon.jpg');
  background-image: url('../frontEnd/img/main/background/panelbg.jpg');
  // background-image: url('../frontEnd/img/main/background/mainmenubg.jpg')1
}
