@import '@/assets/variable.scss';
@import '@/assets/mixins.scss';

#app{
  @include center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  // background-image: url('../frontEnd/img/main/background/fon.jpg');
  background-image: url('../frontEnd/img/main/background/panelbg.jpg');
  // background-image: url('../frontEnd/img/main/background/mainmenubg.jpg')1
  // display: flex;
  // justify-content: center;
}