
.globalmap {
  &__move {
    margin: 0;
    padding: 0;
    border: 1px solid #000000;
    padding: 5px;
    position: absolute;
    cursor: pointer;
    font-weight: 600;

    &-bottom {
      bottom: 70px;
      left: 80px;
    }

    &-left {
      top: 80px;
      left: 90px;
    }

    &-top {
      right: 80px;
      top: 80px;
    }

    &-right {
      bottom: 70px;
      right: 60px;
    }
  }
}
